<h2>検索</h2>

<table class="table table-hover table-inverse">
    <tbody>
      <% @dictionaries.each do |dictionary| %>
        <tr>
          <td>
            <%= link_to dictionary_path(dictionary.id) do %>
              <%= dictionary.title %>
            <% end %>
          </td>
          <td><%= dictionary.summery %></td>
        </tr>
      <% end %>
    </tbody>
</table>