/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.dictionary-image {
   height:450px;
   width:300px;
   object-fit:cover;
}

dl dt {
     float:left;
     clear:both;
}

.guest {
  display:flex;
  justify-content:flex-start;
  text-align:end;
}

.max-container {
  height:100vh;
}

.nav-link {
  justify-content:center;
  text-align:center;
}

.header-icon {
  color:#000FFF;
}

.header-font {
  color:#000FFF;
}

.search-box {
  margin-right:auto;
}

.dl {
  padding:30px 50px;
}

 .dl .dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;
}

 .dl .dd{
  padding:10px 0;
}

.dd{
  min-height:44px;
}

.index-dd{
  min-height:24px;
}

.long-box {
  width:80%;
}

.name-box {
  width:36%;
}

ul {
  list-style:none;
}

.image-box {
  display:inline-block;
  vertical-align:top;
}

.collection-image {
  width:90px;
  height:100px;
  object-fit:cover;
}

.word-box {
  display:inline-block;
  width:80%;
}

.collection {
  display:flex;
}

.dictionary-box{
  width:50%;
}