

<h4>本当に退会しますか？</h4>
<p>退会すると、ユーザー登録情報や</p><br>
<p>これまで作成した辞書が閲覧できなくなります。</p><br>
<p>退会する場合は「退会する」をクリックしてください。</p>
<p><%= link_to "退会しない",user_path(current_user.id),method: :get,class:"btn btn-sm btn-primary" %><%= link_to "退会する",users_withdraw_path,"data-confirm"=>"本当に退会しますか？",class:"btn btn-sm btn-danger" %></p>

